/* Define um estilo inicial para o corpo da página */
body {
    margin: 0;
    padding: 0;
}

/* Define o estilo para a barra de cabeçalho fixa */
.fixed-header {
    position: fixed; /* Mantém a barra no topo da página */
    background-color: black; /* Cor de fundo da barra */
    color: white; /* Cor do texto na barra */
    width: 100%; /* Largura total da barra */
    top: 0; /* Alinha a barra no topo da página */
    padding: 10px; /* Espaçamento interno da barra */
}

/* Define o estilo para a navegação no cabeçalho */
nav {
    display: flex; /* Usa um layout flexível para os itens de navegação */
    list-style: none; /* Remove marcadores de lista padrão */
}

/* Define estilos para elementos de menu suspensos */
.dropdown {
    position: relative; /* Permite posicionamento relativo aos itens do menu */
}

.dropbtn {
    background-color: black; /* Cor de fundo do botão */
    color: white; /* Cor do texto no botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    text-align: left; /* Alinhamento do texto no botão */
    text-decoration: none; /* Remove sublinhado de links */
    cursor: context-menu; /* Altera o cursor para o menu de contexto */
}

.dropdown-content {
    display: none; /* Oculta o conteúdo do menu suspenso por padrão */
    position: absolute; /* Permite o posicionamento absoluto dentro do elemento pai */
    left: 0; /* Alinha o menu à esquerda do elemento pai */
    color: white; /* Cor do texto no menu suspenso */
    background-color: black; /* Cor de fundo do menu suspenso */
    min-width: 160px; /* Largura mínima do menu suspenso */
    z-index: 1; /* Define a ordem de empilhamento (z-index) para sobrepor outros elementos */
}

.dropdown-content a {
    background-color: white; /* Cor de fundo dos itens do menu */
    color: black; /* Cor do texto dos itens do menu */
    padding: 12px 16px; /* Espaçamento interno dos itens do menu */
    text-decoration: none; /* Remove sublinhado de links */
    display: block; /* Exibe os itens do menu como blocos */
    cursor: context-menu; /* Altera o cursor para o menu de contexto */
}

/* Exibe o conteúdo do menu suspenso ao passar o mouse sobre o botão */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Altera a cor de fundo do botão suspenso ao passar o mouse sobre o botão */
.dropdown:hover .dropbtn {
    background-color: red;
}

/*Fim do Header*/

/* Define estilos para o conteúdo */
.conteudo {
    /* Adicione estilos adicionais conforme necessário para o conteúdo */
}

/* Define estilos para o banner de imagem */
.banner {
    border-radius: 10px; /* Adiciona bordas arredondadas ao banner */
    margin: 80px auto 20px; /* Margens superior e inferior automáticas, margem à esquerda/direita automática */
    width: 60%; /* Largura do banner */
    display: block; /* Exibe como bloco */
}

/* Centraliza a imagem dentro do banner */
.banner img {
    margin: 0 auto; /* Centraliza horizontalmente */
}

/* Define estilos para as seções */
.secoes {
    width: 25%; /* Largura das seções */
    height: auto; /* Altura automática */
    justify-content: space-between; /* Espaçamento uniforme entre as seções */
    text-align: center; /* Alinhamento do texto no centro */
    background-color: #506380; /* Cor de fundo das seções */
    color: white; /* Cor do texto nas seções */
    border-radius: 10px; /* Adiciona bordas arredondadas às seções */
    float: left; /* Flutua as seções para a esquerda */
    box-sizing: border-box; /* Inclui padding e borda na largura total */
}

/* Adiciona margem e preenchimento para as seções */
.secoes:first-child {
    padding: 2%; /* Espaçamento interno na primeira seção */
    margin: 10px 5% 10px 0%; /* Margem externa na primeira seção */
}

.secoes:last-child {
    padding: 2%; /* Espaçamento interno na última seção */
    margin: 10px 0% 10px 5%; /* Margem externa na última seção */
}

.secoes:nth-child(2n) {
    padding: 2%; /* Espaçamento interno nas seções pares */
    margin: 10px 5% 10px 5%; /* Margem externa nas seções pares */
}

/* Define estilos para botões */
.botao {
    display: inline-block; /* Exibe os botões como blocos inline */
    padding: 10px 20px; /* Espaçamento interno dos botões */
    background-color: white; /* Cor de fundo dos botões */
    color: black; /* Cor do texto nos botões */
    text-decoration: none; /* Remove sublinhado de links */
    border-radius: 5px; /* Adiciona bordas arredondadas aos botões */
    cursor: context-menu; /* Altera o cursor para o menu de contexto */
}

/* Altera a cor de fundo do botão ao passar o mouse sobre ele */
.botao:hover {
    background-color: orange;
}

/* Define estilos para títulos */
.titulo {
    border-bottom: 1px solid orange; /* Adiciona uma borda inferior laranja aos títulos */
}

/* Define estilos para o elemento com
/* Define estilos para o elemento com o ID "coordenacao" */
#coordenacao {
    text-align: right; /* Alinha o texto à direita */
    padding-bottom: 40px; /* Adiciona espaço inferior de 40px */
}

/* Define estilos para o rodapé fixo */
.fixed-footer {
    position: fixed; /* Mantém o rodapé fixo na parte inferior da página */
    bottom: 0; /* Alinha o rodapé à parte inferior */
    left: 0; /* Alinha o rodapé à esquerda */
    right: 0; /* Alinha o rodapé à direita */
    padding: 10px; /* Espaçamento interno do rodapé */
    background-color: black; /* Cor de fundo do rodapé */
    color: white; /* Cor do texto no rodapé */
    z-index: 2; /* Define a ordem de empilhamento (z-index) para sobrepor outros elementos */
}

/* Fim do CSS */
